* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
  }
  
  body {
    min-height: 100vh;
    background: linear-gradient(180deg, #0b225f 0%, #2c7598 62.15%, #4a9fbc 100%);
    color: #fff;
  }
  
  .headings-pinokio {
    font-family: "Berkshire Swash", serif;
  }
  
  .headings-pinokio-gradient {
    font-family: "Berkshire Swash", serif;
    background: linear-gradient(180deg, #f6d56e 0%, #e89f0f 59.9%, #b06c17 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .container {
    max-width: 1920px;
    margin: auto;
    padding: 24px 92px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 700;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  .navbar img {
    flex: none;
    width: 339px;
    height: 83px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 70px;
  }
  
  .navbar-right span{
    padding: 5px 25px 5px 25px;
    cursor: pointer;
  }
  
  .navbar-right span:hover {
    background-color: #b32231;
    color: white; /* Mengganti warna teks menjadi putih saat dihover */
    border-radius: 50px; /* Menambahkan sudut lengkung untuk tampilan yang lebih baik */
    padding: 5px 25px 5px 25px;
  }
  
  
  .hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  
  .hero-header {
    font-size: 100px;
    margin-bottom: 100px;
  }
  
  .hero-paragraph {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 100px;
    max-width: 1317px;
  }
  
  .hero-cta {
    padding: 20px 60px;
    background-color: #b06c17;
    border-radius: 99px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .story {
    position: relative;
    padding-bottom: 200px;
  }
  
  
  .story img[alt="Awan"] {
    position: absolute;
    z-index: -1;
    width: 100%;
  }
  
  .story img[alt="Awan"] {
    width: 100%;
  }
  
  .story img[alt="Group"] {
    position: absolute;
    right: 0;
    bottom: 100px;
  }
  
  .story-paragraph {
    max-width: 985px;
    font-size: 30px;
    font-weight: 600;
    padding-left: 132px;
  }
  
  .footer {
    background-color: #345075d9;
    font-size: 30px;
    font-weight: 600;
  }
  
  .footer-top {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    margin-bottom: 24px;
  }
  
  .footer-top .footer-top-first {
    grid-column: span 3 / span 3;
  }
  
  .form {
    margin-top: 32px;
    display: flex;
    align-items: start;
    gap: 32px;
  }
  
  .form input {
    background-color: #ffffffb2;
    padding: 10px 20px;
    border-radius: 99px;
    font-size: 24px;
    max-width: 300px;
  }
  
  .form button {
    margin-top: 16px;
    display: block;
    background-color: #4a9fbc;
    padding: 4px 20px;
    font-size: 24px;
    color: #fff;
  }
  
  .footer-top-second div {
    margin-bottom: 18px;
  }
  
  .social-media {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }
  
  