@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Berkshire+Swash&family=Poppins:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.homepage-abis-login {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .homepage-abis-login .div {
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    background: linear-gradient(180deg, rgb(10.72, 34.39, 95.27) 0%, rgb(44, 117, 152) 62.15%, rgb(74, 159, 188) 100%);
    width: 1920px;
    height: 2161px;
    position: relative;
  }
  
  .homepage-abis-login .group {
    position: absolute;
    width: 750px;
    height: 69px;
    top: 59px;
    left: 939px;
  }
  
  .homepage-abis-login .overlap-group {
    position: absolute;
    width: 186px;
    height: 69px;
    top: 0;
    left: 0;
    background-image: url(./img/rectangle-3.svg);
    background-size: 100% 100%;
  }
  
  .homepage-abis-login .text-wrapper {
    position: absolute;
    top: 12px;
    left: 48px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    padding: 5px 25px 5px 25px;
  }

  .homepage-abis-login .text-wrapper:hover {
    background-color: #b32231;
    color: white; 
    border-radius: 50px; 
    padding: 5px 25px 5px 25px;
    cursor: pointer;
  }
  
  .homepage-abis-login .text-wrapper-2 {
    position: absolute;
    top: 12px;
    left: 524px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    padding: 5px 25px 5px 25px;
  }

  .homepage-abis-login .text-wrapper-2:hover {
    background-color: #b32231;
    color: white; 
    border-radius: 50px; 
    padding: 5px 25px 5px 25px;
    cursor: pointer;
  }
  
  .homepage-abis-login .text-wrapper-3 {
    position: absolute;
    top: 12px;
    left: 299px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    padding: 5px 25px 5px 25px;
  }

  .homepage-abis-login .text-wrapper-3:hover {
    background-color: #b32231;
    color: white; 
    border-radius: 50px; 
    padding: 5px 25px 5px 25px;
    cursor: pointer;
  }
  
  .homepage-abis-login .image {
    position: absolute;
    width: 339px;
    height: 83px;
    top: 62px;
    left: 56px;
  }
  
  .homepage-abis-login .img {
    position: absolute;
    width: 374px;
    height: 667px;
    top: -799px;
    left: 1463px;
    object-fit: cover;
  }
  
  .homepage-abis-login .profil-gepeto {
    position: absolute;
    width: 86px;
    height: 86px;
    top: 51px;
    left: 1760px;
    cursor: pointer;
  }
  
  .homepage-abis-login .overlap {
    position: absolute;
    width: 1715px;
    height: 697px;
    top: 229px;
    left: 109px;
  }
  
  .homepage-abis-login .overlap-2 {
    position: absolute;
    width: 1715px;
    height: 697px;
    top: 0;
    left: 0;
  }
  
  .homepage-abis-login .gepeto {
    position: absolute;
    width: 500px;
    height: 1000px;
    top: -150px;
    left: 0;
    object-fit: cover;
  }
  
  .homepage-abis-login .selamat-datang {
    color: white;
    font-size: 100px;
    font-family: Berkshire Swash;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .homepage-abis-login .flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    width: 920px;
    height: 110px;
    top: 238px;
    left: 765px;
  }
  
  .homepage-abis-login .text {
    position: relative;
    align-self: stretch;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-abis-login .span {
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
  }
  
  .homepage-abis-login .overlap-wrapper {
    position: absolute;
    width: 211px;
    height: 63px;
    top: 417px;
    left: 765px;
  }
  
  .homepage-abis-login .div-wrapper {
    position: relative;
    width: 209px;
    height: 63px;
    background-color: #410304;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .homepage-abis-login .text-wrapper-4 {
    position: absolute;
    top: 9px;
    left: 40px;
    font-family: "Poppins-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-abis-login .FOOTER {
    position: absolute;
    width: 1985px;
    height: 509px;
    top: 1652px;
    left: -33px;
    background-color: #345075d9;
  }
  
  .homepage-abis-login .p {
    position: absolute;
    top: 421px;
    left: 809px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-abis-login .FOOTER-2 {
    width: 879px;
    top: 92px;
    left: 91px;
    font-size: 30px;
    position: absolute;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-abis-login .FOOTER-3 {
    top: 237px;
    left: 91px;
    font-size: 25px;
    position: absolute;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-abis-login .overlap-3 {
    position: absolute;
    width: 382px;
    height: 55px;
    top: 227px;
    left: 304px;
    background-color: #ffffffb2;
    border-radius: 50px;
  }
  
  .homepage-abis-login .text-wrapper-5 {
    position: absolute;
    top: 9px;
    left: 20px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #8f8e8e;
    font-size: 23px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-abis-login .FOOTER-wrapper {
    position: absolute;
    width: 107px;
    height: 44px;
    top: 306px;
    left: 304px;
    background-color: #4a9fbc;
  }
  
  .homepage-abis-login .FOOTER-4 {
    top: 2px;
    left: 20px;
    font-size: 25px;
    position: absolute;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-abis-login .group-2 {
    position: absolute;
    width: 236px;
    height: 293px;
    top: 93px;
    left: 1284px;
  }
  
  .homepage-abis-login .about {
    position: absolute;
    width: 228px;
    top: 234px;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-abis-login .login {
    position: absolute;
    width: 136px;
    top: 156px;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-abis-login .sign-up {
    position: absolute;
    width: 193px;
    top: 78px;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-abis-login .home {
    position: absolute;
    width: 151px;
    top: 0;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-abis-login .group-3 {
    position: absolute;
    width: 275px;
    height: 247px;
    top: 103px;
    left: 1641px;
  }
  
  .homepage-abis-login .text-wrapper-6 {
    position: absolute;
    width: 269px;
    top: 207px;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-abis-login .text-wrapper-7 {
    position: absolute;
    width: 269px;
    top: 0;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-abis-login .text-wrapper-8 {
    position: absolute;
    width: 269px;
    top: 104px;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-abis-login .group-4 {
    position: absolute;
    width: 60px;
    height: 267px;
    top: 93px;
    left: 1571px;
  }
  
  .homepage-abis-login .fb {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 207px;
    left: 0;
    object-fit: cover;
  }
  
  .homepage-abis-login .twt {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 104px;
    left: 0;
    object-fit: cover;
  }
  
  .homepage-abis-login .ig {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .homepage-abis-login .overlap-4 {
    position: absolute;
    width: auto;
    height: 87px;
    top: 1121px;
    left: 346px;
  }
  
  .homepage-abis-login .siapa-itu-gepeto {
    position: absolute;
    width: 1202px;
    height: 87px;
    top: 0;
    left: 0;
  }
  
  .homepage-abis-login .line {
    top: 52px;
    left: 625px;
    position: absolute;
    width: 230px;
    height: 3px;
  }
  
  .homepage-abis-login .text-wrapper-9 {
    position: absolute;
    width: 1340px;
    top: 1262px;
    left: 284px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage-abis-login .line-2 {
    top: 1170px;
    left: 386px;
    position: absolute;
    width: 230px;
    height: 3px;
  }

  .welcome-container {
    position: absolute;
    left: 550px;
    top: 150;
}

.welcome-text {
    color: white;
    font-size: 100px;
    font-family: Berkshire Swash;
    font-weight: 400;
    word-wrap: break-word;
}

.gepeto-text {
    background: linear-gradient(180deg, rgb(245.79, 212.8, 109.92) 0%, rgb(231.98, 158.64, 14.82) 59.9%, rgb(176.02, 107.51, 23.47) 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 100px;
    font-family: Berkshire Swash;
    font-weight: 400;
    word-wrap: break-word;
    text-shadow: 0px 4px 4px #00000040;
}


  
  :root {
    --variable-collection-warna-2: rgba(197, 218, 209, 1);
    --variable-collection-warna-1: rgba(179, 34, 49, 1);
    --variable-collection-warna-3: rgba(74, 159, 188, 1);
    --variable-collection-warna-4: rgba(183, 135, 51, 1);
    --variable-collection-warna-5: rgba(47, 101, 67, 1);
    --variable-collection-background: rgba(47, 101, 67, 1);
    --variable-collection-warna-6: rgba(197, 218, 209, 0.6);
    --variable-collection-warna-7: rgba(79, 58, 22, 1);
    --variable-collection-warna-8: rgba(65, 3, 4, 1);
    --variable-collection-warna-hello: rgba(183, 135, 51, 1);
    --variable-collection-kotak-kuis: rgba(118, 45, 17, 1);
  }
  