@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Berkshire+Swash&family=Poppins:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow:hidden;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    background: #4A9FBC;
}

.gradient-background {
    width: 2002px;
    height: 1139px;
    left: 1963px;
    top: 1119px;
    position: absolute;
    transform: rotate(-180deg);
    transform-origin: 0 0;
    background: linear-gradient(359deg, rgba(64, 145, 176, 0.70) 0%, rgba(20, 58, 111, 0.70) 100%);
}

.image1 {
    width: 385px;
    height: 94px;
    left: 767px;
    top: 81px;
    position: absolute;
}


.profile-background {
    width: 1317px;
    height: 618px;
    left: 301px;
    top: 297px;
    position: absolute;
    background: #762D11;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.image2 {
    width: 385px;
    height: 130px;
    left: 767px;
    top: 223px;
    position: absolute;
}

.overlay-container {
    width: 610px;
    height: 384px;
    left: 820px;
    top: 400px;
    position: absolute;
}

.overlay-item {
    width: 610px;
    height: 56px;
    position: absolute;
    background: white;
    border-radius: 50px;
}

.overlay-item3 {
    width: 610px;
    height: 100px;
    position: absolute;
    background: white;
    border-radius: 50px;
}
.input-username {
    position: absolute;
    width: 100%;
    height: 45px;
    color: black;
    font-size: 30px;
    font-weight: 600;
    word-wrap: break-word;
    background: transparent;
    border: none;
    border-radius: 50px;
    outline: none;
    padding: 5px 20px 0 20px;
    margin-bottom: 10px;
}

.input-fullname {
    position: absolute;
    width: 100%;
    height: 45px;
    color: black;
    font-size: 30px;
    font-weight: 600;
    word-wrap: break-word;
    background: transparent;
    border: none;
    border-radius: 50px;
    outline: none;
    padding: 5px 20px 0 20px;
    margin-bottom: 10px;
}

.input-bio {
    position: absolute;
    width: 100%;
    height: 80px;
    color: black;
    font-size: 30px;
    font-weight: 600;
    word-wrap: break-word;
    background: transparent;
    border: none;
    border-radius: 50px;
    outline: none;
    padding: 5px 20px 0 20px;
    margin-bottom: 10px;
    overflow: hidden;
}

.input-container {
    width: 375px;
    height: 311px;
    left: 461px;
    top: 403px;
    position: absolute;
}

.input-box {
    width: 218px;
    height: 45px;
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
}

.button1 {
    width: 200px;
    height: 60px;
    left: 820px;
    top: 804px;
    position: absolute;
    cursor: pointer;
}

.button1-inner {
    width: 200px;
    height: 60px;
    position: absolute;
    background: #4A9FBC;
    border-radius: 50px;
}

.button1-text {
    left: 40px;
    top: 11px;
    position: absolute;
    color: white;
    font-size: 25px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
}

.button2 {
    width: 200px;
    height: 60px;
    left: 1155px;
    top: 804px;
    position: absolute;
    cursor: pointer;
}

.button2-inner {
    width: 200px;
    height: 60px;
    position: absolute;
    background: #EA3346;
    border-radius: 50px;
}

.button2-text {
    left: 56px;
    top: 11px;
    position: absolute;
    color: white;
    font-size: 25px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
}

.profile-title {
    left: 836px;
    top: 259px;
    position: absolute;
    color: white;
    font-size: 50px;
    font-family: Poppins;
    font-weight: 700;
    word-wrap: break-word;
}

.profile-text {
    width: 374px;
    height: 667px;
    left: -4967px;
    top: 462px;
    position: absolute;
}

.arrow-image {
    left: 10px;
    top: 50px;
    position: absolute;
    transform-origin: 0 0;
    cursor: pointer;
}

.logout-popup {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    width: 565px;
    height: auto;
    position: relative;
    background: #2C7598;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    color: white;
    font-size: 32px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
    padding: 20px;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}

.popup-button {
    width: 193px;
    height: 57px;
    padding: 8px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
}

.popup-button-yes {
    background: #B32231;
    color: #F9F9F9;
}

.popup-button-no {
    background: #B78733;
    color: #F9F9F9;
}
